<h1><%=titleOfPaper%></h1>
<div class="spacer">
    <b>Status:</b>
    <span class="underline"><%=status%></span>
</div>
<div>
    <%=paper%>
</div>
<div class="spacer"></div>
<div class="form-group">
    <label for="ratings">Rating</label>
    <input type="number" name="ratings" class="form-control" id="ratings" max=3 min=-3 placeholder="Enter rating"
      value="<%=review ? review.ratings || 0 : 0%>" disabled>
</div>
<div class="form-group">
    <label for="reviews">Description for review</label>
    <input name="reviews" class="form-control" id="reviews" placeholder="Enter description for review"
      value="<%=review ? review.reviews || 0 : 0%>" disabled>
</div>
