<%-include('partials/head.ejs')%>
  <link rel="stylesheet" href="./css/view-single-paper.css" />
  <link rel="stylesheet" href="./css/submit-review.css"/>
  <script type="text/javascript" src="./js/view-single-paper.js"></script>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/author">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Papers to review</li>
        </ol>
      </nav>
      <%-include('partials/view-single-paper.ejs')%>
      <form method="post">
        <div style="justify-content: center; align-items: center;" class="ratings">
          <input class="rate rate-6" id="rate-6" type="radio" name="rate" value="3" />
          <label class="rate rate-6" for="rate-6"></label>
          <input class="rate rate-5" id="rate-5" type="radio" name="rate" value="2" />
          <label class="rate rate-5" for="rate-5"></label>
          <input class="rate rate-4" id="rate-4" type="radio" name="rate" value="1" />
          <label class="rate rate-4" for="rate-4"></label>
          <input class="rate rate-3" id="rate-3" type="radio" name="rate" value="0" />
          <label class="rate rate-3" for="rate-3"></label>
          <input class="rate rate-2" id="rate-2" type="radio" name="rate" value="-1" />
          <label class="rate rate-2" for="rate-2"></label>
          <input class="rate rate-1" id="rate-1" type="radio" name="rate" value="-2" />
          <label class="rate rate-1" for="rate-1"></label>
          <input class="rate rate-0" id="rate-0" type="radio" name="rate" value="-3" />
          <label class="rate rate-0" for="rate-0"></label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </form>
    </div>
    <script></script>
  </body>

  </html>