<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/reviewer">Home</a></li>
          <li class="breadcrumb-item"><a href="/reviewer/review-paper">Papers to review</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%=data.paper_id%></li>
        </ol>
      </nav>

      <h1>Review Paper</h1>

      <div class="list-group" style="font-weight:600; text-decoration:underline;">
        <%=data.title%>
      </div>


      <form method="post">
        <input name="paper_id" hidden class="form-control" id="paper_id" value="<%=data.paper_id%>">
        
        <div class="form-group">
          <label for="ratings">Rating</label>
          <input type="number" name="ratings" class="form-control" id="ratings" max=3 min=-3 placeholder="Enter rating"
            value="<%=review ? review.ratings || 0 : 0%>">
        </div>
        <div class="form-group">
          <label for="reviews">Description for review</label>
          <input  name="reviews" class="form-control" id="reviews" placeholder="Enter description for review"
            value="<%=review ? review.reviews || 0 : 0%>">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block"><%=review && review.ratings == null ? 'Review' : 'Update Review'%></button>
        <% if(review && review.ratings != null){ %>
          <button type="button" onclick="remove('<%=data.paper_id%>')" class="btn btn-danger btn-lg btn-block">Remove Review</button>
       <% } %>
      </form>
    </div>
  </body>

  <script>
    let submitting = false
    async function remove(id) {
      if (submitting) return

      submitting = true
      console.log('remove', id);try {
      const res = await fetch(`/reviewer/review-paper/${id}/remove`, {
        method: "POST"
      })
      console.log(res);
      } catch (err) {
        console.log("Failed to delete reivew", err)
      } finally {
        submitting =false
      }
      location.reload()
    }
  </script>


  </html>