<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/reviewer">Home</a></li>
          <li class="breadcrumb-item"><a href="/reviewer/papers">List of Papers</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%=data.paper_id%>
          </li>
        </ol>
      </nav>

      <h1>Reviewed Papers</h1>

      <div class="list-group" style="font-weight:600; text-decoration:underline;">
        <%=data.title%>
      </div>
      &nbsp;

      <form method="get">
        <input name="paper_id" hidden class="form-control" id="paper_id" value="<%=data.paper_id%>">
        <div class="form-group">
          <label for="ratings">Rating</label>
          <input type="number" name="ratings" class="form-control" id="ratings" max=3 min=-3 placeholder="Enter rating"
            value="<%=review ? review.ratings || 0 : 0%>" disabled>
        </div>
        <div class="form-group">
          <label for="reviews">Description for review</label>
          <input name="reviews" class="form-control" id="reviews" placeholder="Enter description for review"
            value="<%=review ? review.reviews || 0 : 0%>" disabled>
        </div>
      </form>
      <div>
        <form method="post">
          <input name="paper_id" hidden class="form-control" id="paper_id" value="<%=data.paper_id%>">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
              name="comments"></textarea>
            <button class="btn rounded-0 btn-primary btn-sm float-right" type="submit">Comment</button>
        </form>
        <% if(comm.length > 0) {%>
          <div class=" pt-5">
            <label for="floatingTextarea" style="text-decoration:underline;">Comments</label>
          </div>
        <% } %>
      </div>
    </div>
    <div>
      <% comm.reverse().forEach((comment)=> {%>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <strong>
              <%=comment.user.name%>
            </strong>
            <div>
              <% if(user_id == comment.user.user_id) {%>
                <div class="btn btn-danger btn-sm" onclick="remove('<%=comment.comment_id%>')">Delete</div>
              <% } %>
            </div>
          </div>
          <%=comment.comments%>
        </div>
        <% }) %>
    </div>

  </body>

  
    <script>


    let submitting = false
    async function remove(id) {
      if (submitting) return

      submitting = true
      console.log('remove', id);try {
      const res = await fetch(`/reviewer/comment/${id}/remove`, {
        method: "POST"
      })
      console.log(res);
      } catch (err) {
        console.log("Failed to delete reivew", err)
      } finally {
        submitting =false
      }
      location.reload()
    }
  </script> 


  </html>