<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <form method="post" action="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
      </form>
      <h1>Reviewer's Menu</h1>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold"
        onclick="window.location='/reviewer/specify/max-no-of-paper'">SPECIFY MAXIMUM NUMBER OF PAPER</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold"
        onclick="window.location='/reviewer/papers'">VIEW LIST OF PAPERS</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold"
        onclick="window.location='/reviewer/bids/submit'">BID FOR PAPER</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold"
        onclick="window.location='/reviewer/bids/remove'">REMOVE BID FOR PAPER</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/reviewer/review-paper'">REVIEW PAPERS</button>
    </div>
    <script></script>
  </body>

  </html>